<h1>PFTV Community Guidelines</h1>

<p>At Project Fitness TV (PFTV), our mission is to provide the best shared social video experience created
by our growing community where creators and communities can interact safely. To achieve this goal, we
ask that all users participate in such a way that promotes a friendly, positive experience for our global
community.</p>

<p>In addition to our <a routerLink="/page/terms_of_service">Terms of Service</a>, we provide the
following guidelines for our community. These guidelines fall under a common sense philosophy and
apply to all user generated content and activity on our services. This is considered a living document that
we regularly update based on the evolution of the PFTV community and service. Additional guidelines or
specific exceptions may be applicable for certain services or properties under the PFTV Service.</p>

<p>To protect the integrity of our community, as the provider of the service, we at PFTV reserve the right to
suspend any account at any time for any conduct that we determine to be inappropriate or harmful. Such
actions may include: removal of content, a strike on the account, and/or suspension of account(s). Please
refer to this page for more detail: <a routerLink="/page/account_suspension_and_warning">About Suspensions</a>.</p>

<h2>Breaking the Law</h2>

<p>You must respect all applicable local, national, and international laws while using our services. Any
content or activity featuring, encouraging, offering, or soliciting illegal activity is prohibited.</p>

<h2>Suspension Evasion</h2>

<p>All suspensions are binding until expiration or removal upon appeal. Any attempt to circumvent an
account suspension or chat ban by using other accounts, identities, personalities, or presence on another
user's account will also result in suspension. Suspension evasion will not only increase the length of
suspension, but may lead to an indefinite suspension.</p>

<h2>Self-Destructive Behavior</h2>

<p>Any activity that may endanger your life or lead to your physical harm is prohibited. This includes, but is
not limited to: suicide threats, intentional physical trauma, illegal use of drugs, illegal or dangerous
consumption of alcohol, and dangerous or distracted driving. We do not make exceptions for self
destructive behavior performed as a stunt or gag made in jest, or meant to entertain, when the behavior
could reasonably be expected to cause physical injury.</p>

<h2>Violence and Threats</h2>

<p>Acts and threats of violence will be taken seriously and are considered zero-tolerance violations and all
accounts associated with such activities will be indefinitely suspended. This includes, but is not limited
to:</p>

<ul>
  <li>
    Attempts or threats to physically harm or kill others
  </li>
  <li>
    Attempts or threats to hack, DDOS, or SWAT others
  </li>
  <li>
    Use of weapons to physically threaten, intimidate, harm, or kill others
  </li>
</ul>

<h2>Hateful Conduct and Harassment</h2>

<p>Hateful conduct is any content or activity that promotes, encourages, or facilitates discrimination,
denigration, objectification, harassment, or violence based on race, ethnicity, national origin, religion, sex,
gender, gender identity, sexual orientation, age, disability, medical condition, physical characteristics, or
veteran status, and is prohibited. Any hateful conduct is considered a zero-tolerance violation. We will
take action on all accounts associated with such conduct with a range of enforcement actions, including
and up to indefinite suspension.</p>

<p>Harassment is any content or activity that attempts to intimidate, degrade, abuse, or bully others, or
creates a hostile environment for others, and is prohibited. Depending on the severity of the offense, your
account may be indefinitely suspended on the first violation.</p>

<p>We prohibit using PFTV to facilitate hateful conduct or harassment, whether the targets are on or off
PFTV. Individuals, communities or organizations that do so are not allowed to use our services. We may
take action against users for hateful conduct or harassment that occurs off PFTV services that is directed
at PFTV users.</p>

<p><a routerLink="/page/hateful_conduct_and_harassement">Learn more</a> about our hateful
conduct and harassment policies and enforcement.</p>

<h2>Unauthorized Sharing of Private Information</h2>

<p>Do not invade the privacy of others. It is prohibited to share content that may reveal private personal
information about individuals, or their private property, without permission. This includes but is not
limited to:</p>

<ul>
  <li>
    Sharing personally identifiable information (such as real name, location, or ID)
  </li>
  <li>
    Sharing restricted or protected social profiles or any information from those profiles
  </li>
  <li>
    Sharing content that violates another's reasonable expectation of privacy, for example streaming
from a private space, without permission
  </li>
</ul>

<h2>Impersonation</h2>

<p>Content or activity meant to impersonate an individual or organization is prohibited. Any attempts to
misrepresent yourself as a member of PFTV representatives is a zero-tolerance violation and will result in
indefinite suspension.</p>

<h2>Spam, Scams, and Other Malicious Conduct</h2>

<p>Any content or activity that disrupts, interrupts, harms, or otherwise violates the integrity of PFTV
services or another user's experience or devices is prohibited. Such activity includes:</p>

<ul>
  <li>Posting large amounts of repetitive, unwanted messages or user reports</li>
  <li>Distributing unauthorized advertisements</li>
  <li>Phishing</li>
  <li>Defrauding others</li>
  <li>Spreading malware or viruses</li>
  <li>Misinformation (such as feigning distress, posting misleading metadata, or intentional channel
miscategorization)</li>
  <li>Tampering (such as artificially inflating follow or live viewer stats)</li>
  <li>Selling or sharing user accounts</li>
  <li>Reselling PFTV services or features (such as channel Moderator status)</li>
  <li>Defacing, or attempting to deface, website pages or other PFTV services (such as uploading
inappropriate or malicious content)</li>
</ul>

<h2>Nudity, Pornography, and Other Sexual Content</h2>

<p>Nudity and sexually explicit content or activities, such as pornography, sexual acts or intercourse, and
sexual services, are prohibited.</p>

<p>Content or activities that threaten or promote sexual violence or exploitation are strictly prohibited and
may be reported to law enforcement. Child exploitation will be reported to authorities via the National
Center for Missing & Exploited Children.</p>

<p>Sexually suggestive content or activities are also prohibited, although they may be allowed in educational
contexts or for pre-approved licensed content, in each case subject to additional restrictions.</p>

<p>
<a routerLink="/page/nudity_pornography_sexual_content">Learn more</a> about our sexual content policies and enforcement.</p>

<h2>Extreme Violence, Gore, and Other Obscene Conduct</h2>

<p>Content that exclusively focuses on extreme or gratuitous gore and violence is prohibited.</p>

<h2>Intellectual Property Rights</h2>

<p>You should only share content on PFTV that you own, or that you are otherwise authorized to share on
PFTV. If you share content on PFTV that you do not own or otherwise do not have the rights to share on
PFTV, you may be infringing another person’s intellectual property rights. This includes any third party
content included in your content, derivative creations, or performances of others’ copyrighted content. We
encourage you to assess your content for adherence to applicable intellectual property laws and the proper
application of principles such as fair use, and to secure all appropriate rights needed, before sharing your
content on PFTV.</p>

<p>Any unauthorized content you share on PFTV may be subject to a takedown by the rights holder(s) to
remove the infringing content from PFTV, and is a violation of our Terms of Service and Community
Guidelines. Multiple violations of our policies may lead to a permanent suspension of your account.</p>

<p>Examples of content you cannot share on PFTV without permission from the copyright owners or other
authorization include:</p>

<ul>
  <li>Sharing other PFTV creators' content</li>
  <li>Playing other workout/nutrition class that is pirated</li>
  <li>Sharing content from other sites</li>
  <li>Showing movies, television shows, or sports matches</li>
  <li>Playing music you do not own or do not have the rights to share</li>
</ul>

<p><a routerLink="/page/music_guidelines">Learn more</a> about our policies regarding music
content on PFTV.</p>

<h2>Content Labeling</h2>

<p>You are expected to accurately label your content to the best of your ability. When choosing a category or
tag, please choose whichever best describes your content. Deliberate or extensive misuse of titles, tags,
games/categories, or other metadata are prohibited.</p>