<h1>PFTV Video on Demand (VOD) Guidelines</h1>

<ul>
  <li>PFTV pays creators 85% of gross revenue (VOD revenue) after deducting transactions costs. The
transaction costs vary based upon price; the calculator uses average transaction per price point.</li>
  <li>PFTV creators can choose rent, or buy and set your own price.</li>
  <li>Verified PayPal account need to get paid.</li>
</ul>

<h2>How much should I charge for my work?</h2>

<p>>We encourage you to keep your pricing as affordable as possible. If you’re selling your work through
other services, sell it for the same price or less. You might also consider a special price exclusive to PFTV
Video On Demand.</p>

<h2>Which viewing options should I select?</h2>

<p>For viewing options, you decide what viewing period makes sense for your work. However, we strongly
suggest making your work available worldwide, so you’ll have the largest potential audience.</p>

<h2>Would I allow people to rent to buy my work? Or both?</h2>

<p>That’s up to you. When someone buys your work, they can watch it whenever they want, on any device,
or on PFTV. When they rent your work, they have a limited time in which to view it. Because viewers
have different preferences, we suggest giving them as many purchasing options as possible.</p>

<h2>How do I let people know about my work?</h2>

<p>After your page has been created, it’s time to put on your self-promotional shoes. Let people know
through all your favorite social networks, and send out an email blast to your mailing list, or at least to
your family and friends.</p>

<h2>Additional Information</h2>

<h3>Make sure you have all the rights</h3>

<p>As with all videos on PFTV, make sure you have the rights to the music in your work. Also, since you’re
selling your work, you need to get personnel releases signed for anyone who appears in your work.</p>

<h3>Choose a compelling thumbnail</h3>

<p>Along with your poster and trailer, your thumbnail is an important representation of your work. You can
pick any frame from your work, or upload a custom thumbnail.</p>

<h3>Upload a powerful poster</h3>

<p>Use simple colors and images that represent your work and draw the eye. Please note that the aspect ratio
should be 27 x 40 px (width by height) and the largest size we use on Vimeo On Demand is 275 x 407 px.Add bonus features
Bonus features give people more incentive to buy your work, and make perfect promotional materials.</p>

<h3>Keep it affordable</h3>

<p>It’s super important to give your work a price that you are willing to pay. The lower your price, the more
people will be willing to buy it.</p>

<h3>Start early</h3>

<p>Create your profile page and upload free videos well before any release VOD videos. Don’t create the
page the same day of a release so you have time to tweak the appearance and settings to your liking.</p>

<h3>Create a great, informative trailer</h3>

<p>Your trailer can be a full scene from your work, or a montage you edit together. Pro tip: Trailers should
never be longer than two minutes, so keep it snappy!</p>

<h3>Tag your film</h3>

<p>To ensure that your work appears in our search results, tag it! For example, if your work is “15 Minutes
Lower Abs Workout,” you’ll probably want tags such as “Abs,” “Workout,” “Exercise,” etc.</p>

<h3>Prepare your video file properly</h3>

<p>Before you upload your work, make sure you’ve got the video file ready.</p>