<h1>PFTV Professional Trainer and Nutritionist Affiliate Program Payout FAQ</h1>

<h2>What is the payout period? When will I receive my payouts?</h2>

<p>Our standard payout period is Net 15. At the end of each calendar month, there is a check to see if your
account balance since your last payout is $100 or more. If it is, a payment would be scheduled for 15 days
after the end of that month for the current account balance. For example, revenue earned during the month
of April that exceeds the minimum threshold of $100 USD would begin processing around May 15th.
Payout processing time can vary, but typically takes around 3 – 5 business days. Weekends and public
holidays can increase the amount of time that it takes for you to receive your payout. If you're unsure if a
payout is processing around the 15th of the month, please look at the <a routerLink="/user-account/payout">Payout History</a> page. This page will show you all previous payouts made and any submitted and processing
payouts.</p>

<h2>What is the minimum amount of revenue required to receive payout?</h2>

<p>An Affiliate is eligible for payout once their pre-taxed accrued revenue balance reaches $100. If you do
not make over $100 in a given month, we will roll over the balance to the next month until this minimum
threshold is met. For example, if you make $20 in April and $90 in May, your April balance would be
rolled over into May and you would receive payout for both months in mid June.</p>

<h2>How do I see my previous payments?</h2>

<p>You can track your <a routerLink="/user-account/payout">Payout History</a> now on your settings page by
clicking on the <b>View Payout History</b> link.
How do I change my payout method?
You can change your payout method by going to your earnings page and selecting <b>Change Payout
Method</b>. Changes made to your payment method take effect immediately but will not be reflected in your
next payment unless you have completed your changes before the 10th of the month. If changes were
made after the 9th of the month, it will be reflected in the following month.</p>

<h2>What does "hold payments" mean? How long are payouts held?</h2>

<p>If you are not ready to receive a payout, we hold it for you. Once you are ready for us to release your
payout, you must still adhere to the minimum threshold ($100), along with the Net 15 schedule.</p>

<h2>What payout methods are supported?</h2>

<p>Here are the payout methods we support. Before deciding, we advise considering all the options available
as processing time and fees can vary.
</p>
<ul style="list-style: none;">
  <li>
    <b>ACH</b>: This deposits your payout directly into your bank account within 1-5 days, making it one of
the fastest methods. It is available for US residents only.
  </li>
  <li>
    <b>PayPal</b> This deposits your payout directly into your PayPal account within 1-4 days.
  </li>
</ul>

<h2>Are there fees associated with any of the payout methods?</h2>

<p>We continue to absorb the fees charged to us for each transmission (besides fees if you wish to convert
your payout to your local currency). We will continue to do so provided you can help us by migrating to
low fee options like ACH.</p>

<h2>What if I was earning revenue as an Affiliate prior to becoming a Partner?</h2>

<p>Any revenue that you earned while still under the Affiliate status will be paid out per the terms in this
FAQ. For example, if you earned $50 as an Affiliate up until the 8th of August, then became a Partner on
the 9th of August and earned a further $80, you would receive a payout for all of this revenue around mid
September.</p>

<h2>When do changes to payout preferences take effect?</h2>

<p>Once you click submit and your payout method is confirmed, changes take effect immediately but will
not be reflected in your next payment unless you have completed your changes before the 10th of the
month. If changes were made after the 9th of the month, it will be reflected in the following month.</p>

<h2>Do I need to submit an invoice? If yes, when does invoice need to be submitted by?</h2>

<p>Revenue types that are displayed on your Earnings Page and do not require that you submit an invoice to
us. All other payments require an invoice and should be submitted to <a href="mailto:payments@projectfitnesstv.com">payments@projectfitnesstv.com</a> the
10th day of the following month earned. For example, for the month ending September 30, an invoice
must be submitted prior to October 10th to be paid out by October 15th.</p>

<h2>How do I change my address/phone number?</h2>

<p>You can change personal information by going to your settings page.</p>

<h2>What should I do if I do not receive a payout?</h2>

<p>Email us at <a href="mailto:payments@projectfitnesstv.com">payments@projectfitnesstv.com</a></p>

<h2>I got an email stating my payout failed/was rejected! What should I do?</h2>

<p>When a payment fails or is rejected, your last listed payment method becomes invalid and will require
updating before you become payable again. You check and amend your payment method via the <b>Change
Payout Method</b> section. Common reasons include:</p>

<ul>
  <li>
    <b>Wire Transfer/ACH/eCheck: Incorrect account information</b>: You’ll need to double check your
account information with your bank.
  </li>
  <li>
    <b>PayPal: Exceeded receiving limit</b>: Please see this <a href="https://www.paypal.com/uk/smarthelp/article/what-is-my-receiving-limit-and-how-can-i-remove-it-faq2088" target="blank">help article</a> from PayPal on receiving limits and
how to remove them.
  </li>
  <li>
    <b>Incorrect email specified</b>: When payment is sent to an email that is not attached to a PayPal account,
PayPal sends an email to the address in question with instructions on how to claim the funds. If you
do not have access to this email address that was used, PayPal will hold the funds for 30 days before
returning them to us. We also need to have a payout history section where the users can view payout history. Also we will be
able to pay users to their PayPal address correct? Will we also be able to pay to their bank account? I put
PayPal and bank account as payout options. Let me know if thats what we can do? or if there was another
method you thought we would use.
  </li>
</ul>