<h1>Our values center around a triad of strength training, nutrition, & emotional well being</h1>

<h2>Get to know more</h2>

<p>Have some questions? Ask them here.</p>

<p><a routerLink="/page/contracts">Contact us</a></p>

<h1>PFTV Triad</h1>

<h2>Strength Training</h2>

<p> A good way to reverse and/or slow down the aging process which counterbalances the loss of muscle & bone mass.</p>

<h2>Nutrition</h2>

<p> Healthy food enhances our brain function, reduces recovery time after activities, and assists with muscle growth.</p>

<h2>Emotional Well Being</h2>

<p> Good mental heath provides a gateway to happiness & can be achieved through a social support system, exercising, & hobbies.</p>

<p>Our platform is provides strength training with qualified professionals, guidance for healthy eating from the best nutritionists in the field, and rich applicable knowledge from like minded individuals.</p>

<h2>Your Success</h2>

<p>Success is learned, practiced, and then shared. PFTV will provide you with peer-to-peer motivation in order to keep you on track to a healthier lifestyle, and will give you access to the best fitness and health professionals to help you achieve your goals.</p>

<h2>Our Community</h2>

<p>Accelerate your results with the power of groups. PFTV is a community of fitness enthusiasts. Share information, subscribe to fitness and nutrition trainers, follow your friends, & benefit from our network of fitness and nutrition professionals.</p>

<p>Stay up to date with state-of-the-art information & motivation tools that are designed to encourage you to get in shape.</p>

<p>© ProjectFitnessTV.com</p>

<ul>
  <li><a routerLink="/page/contracts">Contact</a></li>
  <li><a routerLink="/page/privacy_notice">Privacy Policy</a></li>
  <li><a routerLink="/page/blogs">News</a></li>
</ul>