<h1>PFTV Privacy Choices</h1>

<p>PFTV takes your privacy seriously, so we provide you with a variety of choices regarding how we use the
information we collect about you, and how you can manage your online privacy when you use the PFTV
Services. Here’s how you can exercise those choices.</p>

<p>If you want more information or have questions, contact us at <a href="mailto:privacy@projectfitnesstv.com">privacy@projectfitnesstv.com</a>.</p>

<h2>To update your user profile information preferences?</h2>

<ul>
  <li>
    Log into your account and got to your settings page
  </li>
</ul>

<h2>To disable or deactivate your PFTV user account</h2>

<ul>
  <li>
    Log into your PFTV account and go to your settings page
  </li>
</ul>

<p>
  <b>To close your account and delete your profile information</b> (Note: If you close your account, PFTV
may retain other information about you for the activities described in our Privacy Policy, or as permitted
or required by applicable law.
</p>

<ul><li>Email us at <a href="mailto:privacy@projectfitnesstv.com">privacy@projectfitnesstv.com</a></li></ul>

<h2>To Block users and strangers</h2>

<ul><li>Log into your PFTV account and go to settings page.</li></ul>

<p>For other request, please email us at <a href="mailto:privacy@projectfitnesstv.com">privacy@projectfitnesstv.com</a></p>

<p>Note that we are not legally required to accommodate such requests under all circumstances, which may
include if we need to keep processing your information for our legitimate interests or to comply with a
legal obligation. We may also request that you provide us with additional information necessary to verify
your identity (such as your IP address, date of birth, transaction IDs, and email address) before responding
to your request.</p>

<p>PFTV aims to provide the same privacy options regardless of location; however, certain options may
differ in accordance with local regulations and requirements. For instance, Residents of the European
Economic Area (“EEA”) and California can exercise certain additional rights available to them under
applicable data protection laws.</p>