<div class="video-details">
	<div class="change-pswd">
		<h2 class="hd-op">Change password</h2>
		<form>
			<div class="ch-pswd">
				<input type="password" [(ngModel)]="password_field" name="old_password" placeholder="Old Password">
			</div><!--ch-pswd end-->
			<div class="ch-pswd">
				<input type="password" [(ngModel)]="new_password" name="new_password" placeholder=" New Password">
				<span *ngIf="missing_password" class="text-danger"> Password is required! </span>
			</div><!--ch-pswd end-->
			<div class="ch-pswd">
				<input type="password" [(ngModel)]="confirm_password" name="confirm_password" placeholder="Confirm New Password">
				<span *ngIf="missing_password" class="text-danger"> Password is required! </span>
			</div><!--ch-pswd end-->
			<div class="ch-pswd">
				<button (click)="update_password()" [disabled]="!(new_password == confirm_password || password_field != new_password)">Update</button>
				<span *ngIf="confirm_password && new_password != confirm_password" class="text-danger">  Password are different</span>
			</div><!--ch-pswd end-->
		</form>
	</div><!--change-pswd end-->
</div>
<span *ngIf="message_success" style="color: white;"> Password updated successfully!</span>
<span *ngIf="message_error" class="text-danger"> There's an error while updating password! <br/>
	Make sure that your old password is correct!
</span>
