<h1>PFTV Account Suspensions and Warnings</h1>

<p>Enforcements are issued against accounts that violate our <a routerLink="/page/terms_of_service">Terms of Service</a> and/or <a routerLink="/page/community_rules">Community Guidelines</a>.</p>

<p>We take a number of factors into consideration when we review reports of violations, including the intent
and context, the potential harm to the community, legal obligations and others.</p>

<p>Depending on the nature of the violation, we take a range of actions including a warning, a temporary
suspension, and for more serious offenses, an indefinite suspension.</p>

<p>A warning is a courtesy notice for some violations. We may also remove content associated with the
violation. Repeating a violation you have already been warned for, or committing a similar violation, will
result in a suspension.</p>

<p>Temporary suspensions range from one to 30 days. If your account is suspended, you may not access or
use PFTV services, including watching streams, broadcasting, and chatting. After the suspension is
complete, you will be able to use our services once again. We keep a record of past violations, and
multiple suspensions over time can lead to an indefinite suspension.
For the most serious offenses, we will immediately and indefinitely suspend your account with no
opportunity to appeal.</p>

<p>If you receive a suspension of 30 days or longer, any subscriptions you may have will not renew. You may
reactivate them when your account is reinstated.</p>

<p>While we welcome bots that add new features to PFTV , bot accounts that spam unwanted messages will
be banned indefinitely. Bots that exceed messaging rate limits will automatically be blocked from sending
more messages.</p>

<h2>Appealing and Account Enforcement</h2>

<p>If you think that you did not violate our Community Guidelines, you may appeal the enforcement on your
account. In order to appeal, you must contact us at <a href="mailto:connect@projectfitnesstv.com">connect@projectfitnesstv.com</a>. Appeals sent via any
other means will <b>not</b> be considered.</p>

<p>Appeals are reviewed in the order they are received and we do not guarantee enforcements will be
overturned. Only the owner of the account in question may appeal an account suspension or warning, and
frivolous appeals or appeals submitted to inquire on the status or request unsuspension of an account that
you do not own will not be considered. Abusing or spamming the appeals process may lead to additional
penalties, or revoking of appeal privileges.</p>

<p>If you are connecting from an open proxy, it may show you that you have been blocked from using PFTV.
Many open proxies have been blocked due to users abusing our Terms of Service from these proxies. We will not unblock these proxies from our site. We recommend you do not use these services to connect to PFTV services.</p>

<h2>Account Enforcements Due To Copyright Infringement</h2>

<p>We will respond to clear and complete notices of alleged copyright infringement. Our copyright
procedures are set forth in the <a routerLink="/page/dmca_guidelines">DMCA Guidelines</a>. Individual copyright violations will result in immediate removal of
the content, temporary suspension (where the claim is directed at a live stream), and receipt of a copyright
infringement strike. Repeat copyright violations will result in an indefinite suspension of your account.</p>

<p>Copyright infringement strikes may be reversed upon receipt of valid counter-notification. Details on
what must be contained in a valid counter-notification are also contained in the <a routerLink="/page/dmca_guidelines">DMCA Guidelines</a>.</p>

<h2>Appealing A Channel Specific Ban</h2>

<p>If you have been banned from chatting in a specific channel, you must contact either the channel owner or
an appointed moderator for that channel if you wish to appeal the ban. Channel owners and moderators
are free to ban anyone from their channel, regardless of the reason. PFTV Staff will not assist in reversing
channel-specific bans. Please note that while you are welcome to appeal a channel ban, misuse of features
to attack or harass anyone due to receipt of a channel ban (or any other reason) will lead to suspension of
your account(s).</p>