<h1>PFTV Music Guidelines</h1>

<p>PFTV values the work of songwriters, musicians, and other creative artists. As a company committed to
supporting fitness and nutrition professionals, we respect, and ask our users to respect, the intellectual
property of those who make music and those who own or control music rights.</p>

<p>We know that you may have questions about what types of music content you can safely share on PFTV.
In order for you to better understand what uses of music are allowed for your content, we’ve further
clarified these guidelines in the sections below.</p>

<h2>Sharing Music on PFTV</h2>

<p>We ask that creators only share content for which they have the necessary rights. It is a violation of our
policies to stream or upload content containing copyrighted music unless you have the appropriate rights
or authority to share such music on PFTV.</p>

<p>You may not include music you do not own in your PFTV streams or VODs (Past Broadcasts, Past
Premieres, Highlights, Clips and Uploads), except as described below or otherwise permitted by law.</p>

<p>Please note that buying music (such as a CD or mp3) or subscribing to a music streaming service
typically does not grant rights to share the music on PFTV. Such a purchase or subscription grants you a
personal license to access the content only for your personal and private playback.</p>

<h2>Types of Music Content</h2>

<p>In the sections below, we describe some common types of music content, along with some information
about whether you may or may not share that content on PFTV.</p>

<h2>Here are some example types of music content you may use in PFTV streams and VODs:</h2>

<ul>
  <li>
    <b>Music Owned By You</b> – Original music which was written by you and either recorded or
performed live by you, and for which you own or control all rights necessary to share the music
on PFTV, including the rights to the recording, performance, and to the underlying music and
lyrics. Please remember that if you have a contractual relationship with an organization that
controls rights to the content you create, such as a record label or publishing company, you should
make sure that you are not in violation of that relationship by sharing that music on PFTV.
  </li>
  <li>
    <b>Music Licensed To You</b> – Copyrighted music owned in whole or part by someone other than
you, if you have secured a license to share it on PFTV from the relevant copyright holders.
  </li>
</ul>

<h2>Here are some example types of music content you may not use in PFTV streams or VODs:</h2>

<ul>
  <li>
    <b>Radio-Style Music Listening Show</b> – A PFTV stream or VOD which focuses on playing music
that is not owned by you and is not licensed for you to share on PFTV.
  </li>
  <li>
    <b>DJ Set</b> – Playing and/or mixing pre-recorded music tracks which incorporate music, other than
music which is owned by you or music which is licensed for you to share on PFTV.
  </li>
  <li>
    <b>Cover Song Performance</b> – Performance of a song owned by someone else, with the exception
of a live performance in your PFTV stream. If you do perform a cover song in a live PFTV
stream, please make a good faith effort to perform the song as written by the songwriter, and
create all audio elements yourself, without incorporating instrumental tracks, music recordings, or
any other recorded elements owned by others.
  </li>
</ul>

<h2>How This Impacts You</h2>

<p>If you violate these guidelines, you may be subject to a takedown notice from music rights holders under
our <a routerLink="/page/dmca_guidelines">DMCA Guidelines</a>. We may also take action under our <a routerLink="/page/community_rules">Community Guidelines</a>.</p>

<p>In addition, we may mute VODs, such as if our automated content filtering systems detect that audio in a
VOD contains unauthorized music. If you have the necessary rights to share music in your PFTV VODs,
we want to ensure that your VODs are not muted.</p>