<h1>PFTV Donate</h1>

<p>
  Any funds received by a fitness or nutrition professional on the PFTV website through the DONATE
button are not/ and should not be used as payment for goods and services, but are monetary tips to help
fitness and nutrition professionals stream, and upload high quality videos. PFTV is thankful for your
supporting the fitness and nutrition professionals on our website through viewership. While it is
appreciated if you do decide to tip, it is not required. Before tipping, please consider that your tips are
non-refundable.
</p>

<p>
  PFTV pays creators <i>90%</i> of tips after deducting transactions costs. The transaction costs vary based upon
price; the calculator uses average transaction per price point.
</p>