<h1>PFTV FAQ</h1>

<h2>What is PFTV Affiliates Trainers and Nutritionists Program?</h2>

<p>The PFTV Affiliate Trainer and Nutritionist program allows qualified fitness and nutrition professionals
to monetize their channel as they build their audience and work towards the coveted status of PFTV
Partner. This FAQ addresses some of the common questions asked about the Affiliate Program.</p>

<h2>What are the requirements to join the affiliate program?</h2>

<p>The requirements to join the affiliate program are as follow:</p>

<p>
&nbsp;&nbsp;1. &nbsp;&nbsp;&nbsp;
Be a qualified fitness and/or nutrition professional with the necessary qualifications to back it up
(College degree in field, Certifications eg NASM etc).</p>

<h2>How to I Signup for the Affiliate Program?</h2>

<p>At the moment signup is by invitation only. However, if you believe you can value to the PFTV
community and would like to be an Affiliate, send us an email at <a href="mailto:connect@projectfitnesstv.com">connect@projectfitnesstv.com</a> with your
full name and picture of your certification.</p>

<h2>I’m under 18, can I still sign up?</h2>

<p>Yes. Your parent or guardian will need to agree to the terms of the Affiliate Agreement, so make sure you
have them with you when you go through the application.</p>

<h2>How do I check if I qualify for the Affiliate Program?</h2>

<p>We will send you an email if you qualify.</p>


<h2>What do you mean by exclusivity for “Live PFTV Content”?</h2>

<p>The exclusivity clause does not restrict Affiliates from using other streaming platforms to do live
streaming. For instance, an Affiliate is permitted to start a stream on PFTV and, after ending that stream,
immediately start a new, separate stream on another platform -- assuming the Affiliate is not also using
PFTV to broadcast that same content at the same time.</p>

<p>Lastly, it's worth bearing in mind that Affiliates' exclusivity obligations impact only live content, not past
streamed content or VOD. Affiliates can upload the same VOD to PFTV and other platforms without any
exclusivity concerns, with the exception, again, of archiving live content within twenty-four hours after it
broadcasts on PFTV. Also, remember that broadcasting prerecorded live content on PFTV is considered
real-time streaming of "live content" when it is broadcast for the first time.</p>

<h2>In section 4.1, where it says PFTV may close my inactive account, does that mean my PFTV account, or just my account as an Affiliate?</h2>

<p>It means that PFTV may terminate your participation in the Affiliate Program and close the account that
we opened in our financial systems when you joined the Affiliate Program. This does not refer to your
PFTV user account.What do you mean by “substantial activity” when determining whether to close inactive accounts?
Many factors can go into determining if your account is still active and it will be performed on a case-by-
case basis. For starters, we look at activity over the course of a year (do not fear if you take a break for
several months; we understand that life events occur). Our aim is not to get rid of folks who are
broadcasting on a semi-regular basis. Rather, this element is designed to allow PFTV to terminate
members of the Affiliate Program that walk-away from the program through a complete lack of
participation for longer than 12 months.</p>

<h2>It has been a year and I have only made $99. Will PFTV terminate my participation in the Affiliate
Program?</h2>

<p>Our goal is not to close Affiliate accounts for trainers and nutritionists who are active. We wrote our
agreement with this in mind with the additional statement that PFTV will consider the activity on your
account.</p>

<h2>What is the purpose of the maintenance fee under Section 4.1?</h2>

<p>Managing financial records for tens of thousands of fitness and nutrition professionals presents challenges
- regulatory, financial, and systems related. It is especially challenging when you have a bunch of inactive
accounts to keep track of. So we need the ability to remove your account from our system if it becomes
obvious that you no longer are actively broadcasting and have little money in your account. We will pay
out any remaining balance, but it costs us money to maintain inactive accounts as well as issue that final
payment. For this reason, when we close an inactive account, we impose a maintenance fee.</p>

<h2>In the event that my Affiliate account is closed, do I have to write PFTV a check to pay the
maintenance fee if my account balance is below $25?</h2>

<p>Never. The maintenance fee would be deducted from the remaining balance in your account. The amount
that is deducted will be the amount that is in your account up to a maximum of $25. In other words, if
there is $7 in your account, the maintenance fee will only be $7. If there is more than $25 in your account,
a maintenance fee of $25 will be deducted and any remaining balance will be paid to you.</p>

<h2>How is the subscription revenue I receive determined?</h2>
<p>As explained in the PFTV <a routerLink="/page/affiliate_agreement">Affiliate Agreement</a>, there are certain costs, taxes, and fees that must be accounted for before
you receive subscription revenue. Before the 70/30 split between you and PFTV takes place, deductions
are made from the full price of subscription, including taxes, payment processing fees, bank fees,
currency conversion fees, etc. After the split takes place, we still account for required tax withholding,
which is reflected in the payout you ultimately see on your dashboard. PFTV does not set or control the
rates or fees, and they vary from region to region and by each subscriber’s payment method.</p>