<h1>PFTV Nudity, Pornography, and Other Sexual Content</h1>

<p>We restrict content that involves nudity or is sexual in nature, and are committed to ensuring that PFTV is
not used for sexual exploitation or violence. To provide more clarity around these policies and how we
review reports of such content or activity, we’ve provided additional details to complement our
Community Guidelines in the sections below.</p>

<p>While we understand that some nudity or sexual content might be intended for educational, scientific,
artistic, newsworthy, or academic purposes, we restrict this content due to the diversity in age and cultural
backgrounds of our global community. We may, in limited educational and artistic contexts, make pre-
approved exceptions to these policies. Going forward, PFTV will continue working on ways to safely
support nudity and sexual content in these particular contexts.</p>

<h2>Sexual Violence and Exploitation</h2>

<p>Sexual violence and exploitation are strictly prohibited and may be reported to law enforcement.
Examples include, but are not limited to:</p>

<ul>
  <li>
    Sexual assault and molestation, or content that encourages or promotes it
  </li>
  <li>
    Content containing a person in a state of nudity or engaged in sexual acts
  </li>
  <li>
    Sexually suggestive or explicit content (audio or visual), shared or threatened to share without
permission of the person depicted, such as revenge porn
  </li>
  <li>
    Unsolicited offers, solicitation, demands, bribes, or blackmail for sexual content and services
  </li>
  <li>
    Sexual services, including prostitution, escort services, sexual massages, and filmed sexual activity
  </li>
  <li>
    Any nudity, sexual content, sexual violence, or sexual exploitation that involves minors, appears to
involve minors, or depictions of minors, or content that encourages or promotes pedophilia
  </li>
</ul>

<h2>Sexually Explicit Content</h2>

<p>Sexually explicit content and activities, such as pornography, sexual acts, and sexual services, including
solicitation and offers for such content, are prohibited.</p>

<p>Broadcasting in areas where nudity or sexual activity may be taking place, even if such conduct or
activity is not at the direction of the broadcaster or takes place in the background of the broadcast, is
prohibited.</p>

<h2>Sexually Suggestive Content</h2>

<p>Sexually suggestive content is prohibited. When reviewing this type of sexual content or activity, we will
consider its intent and context based on a number of factors including, but not limited to:</p>

<ul>
  <li>
    Behavior and commentary
  </li>
  <li>
    Reaction to content, such as chat messages from the broadcaster, moderators, and what chat messages
they permit in their community
  </li>
  <li>
    Attire and environment, such as location and background music, props, etc.
  </li>
  <li>
    Camera framing, angle, and focus
  </li>
  <li>
    Stream attributes, such as title, intros/outros, custom thumbnail, and other metadata
  </li>
  <li>
    Profile and channel content, such as banners, profile image, emotes, and panels
  </li>
</ul>

<h2>Nudity and Attire</h2>

<p>Streaming is a public activity, therefore we recommend creators wear attire that is appropriate public
attire for a given context, intent, or activity. For workout streams, most at home streams, and profile/
channel imagery, we recommend attire appropriate for public settings, such as what you would wear on a
public street, or to a gym or physical activity. For example, for a fitness stream, or an IRL stream from a
location such as a public beach, attire appropriate to those public contexts is recommended, such as
workout clothes or a swimsuit, respectively. As noted in the section above, attire is just one factor of
many that we consider when evaluating reports for potential sexual conduct.</p>

<p>Attire intended to be sexually suggestive and nudity are prohibited. Attire (or lack of attire) intended to be
sexually suggestive includes undergarments, intimate apparel, or exposing/focusing on male or female
genitals, buttocks, or nipples.</p>

<h2>Nudity and Sexual Content Class and Workout Videos</h2>

<p>Classes and workout videos featuring nudity, pornography, sex, or sexual violence as a core focus or
feature, and videos modified to feature these elements are entirely prohibited.</p>

<h2>Additional Restrictions</h2>

<ul>
  <li>
    Please note that PFTV may make exceptions for content that PFTV seeks to license, and that is
rated by a ratings body or otherwise pre-screened by PFTV.
  </li>
  <li>
    Conversations about sex, nudity, and other mature topics that are intended to be educational and
otherwise comply with our policies should be marked as Mature Content via the respective
channel’s settings.
  </li>
</ul>

<h2>Reporting Sexual Content Violations</h2>

<p>If you come across any content or user(s) on PFTV that you feel violate our <a routerLink="/page/community_rules">Community Guidelines</a>,
 we ask that you report the content and/or user(s)
in question to our moderation team for review.</p>

<h2>FAQ</h2>

<b>I accidentally showed content that was sexually explicit. Will my account be suspended?</b>
<p>
  <i>
    As owner of your account, it’s entirely your responsibility to ensure that anything shared on your account
abides by PFTV’s <a routerLink="/page/terms_of_service">Terms of Service</a> (ToS) and <a routerLink="/page/community_rules">Community
Guidelines</a> (CG). If you are unsure if a link,
photo, video, or other content in your broadcast breaks these, we suggest that you review it privately
before airing it on your broadcast. Content that breaks ToS or CG, whether shown accidentally or on
purpose, can be reported and moderation may take appropriate action on that content, including
removing the content and issuing on a suspension on your account. Given the nature of live content, we
expect you to take proper precautions; even one incident may warrant action.
  </i>
</p>
